<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LaptopSimulator2015.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LaptopSimulator2015.Properties.Settings>
            <setting name="wam" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mlg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="subs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="level" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value>(Default)</value>
            </setting>
        </LaptopSimulator2015.Properties.Settings>
    </userSettings>
</configuration>